
:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}


img{
    width: 100%; 
    
}


.card{
    background-color: #373b69;
}

.mtitle{
    height: 30px;
    color: gold;
    margin-top: 5px;
    font-size: 18px;
    overflow: hidden; 
}

.mrating{
    font-size: 18px;
    color: white;
    margin-top: 5px;
}